@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  font-family: 'Late', sans-serif;
}

.home {
  display: flex;
  height: 100%;
  justify-content: center;
  font-size: 3rem;
}

.button {
  position: relative;
  background-color: #000;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}